<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">

    <style>
        .specialt {
          background-color: black;
          color: white;
          display: grid;
          align-items: center;
        }
        </style>

    {% block head %}
    
    {% endblock %}
</head>

<body class="subpage">


      <header id="header" class="alt">

        <a href="#menu">Menu</a>
        </header>
        	<nav id="menu">
            <ul class="links">

                <li><a href="/">Home</a></li>
                {% if session['username'] %}
                <li><a href="/search">Search</a></li>
                <li><a href="/profile/{{ session.username }}">Profile</a></li>
                <li><a href="/similar_users">Similar users</a></li>
                <li><a href="/settings">Settings</a></li>
                {% endif %}

                {% if not session['username'] %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}

            </ul>
            <div class="specialt">
                {% if session['username'] %}
                <span >Logged in as: {{session['username']}}</span>
    
                <form action="/logout" method="post">
                    <br>
                    <input type="submit" value="Logout">
                </form>
    
                {% endif %}
            </div>
        </nav>


    </div>

    {% block body %}{% endblock %}
    <footer id="footer">
      <div class="copyright">

        <p>&copy; Sva prava pridržana. Dizajn: GAMMA. Slike: <a href="https://unsplash.com">Unsplash</a> i <a href="https://pexels.com">Pexels</a> .</p>
      </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/jquery.scrolly.min.js"></script>
    <script src="static/assets/js/jquery.scrollex.min.js"></script>
    <script src="static/assets/js/skel.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>
</body>

</html>
