{% extends 'base.html' %}

{% block head %}

<title>Change password </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />



{% endblock %}



{% block body %}

{% if session['username'] %}

<div class="change_password">
<div class="lozpro">
    <section id="lozpro">
      <div class='inner'>
        <header>
            <h1>Change password</h1>

          </header>
            <form action="/change_password" method="POST">
                <span class="pass_change">
                    Old password: 
                    <input type="password" placeholder="Enter old password" name="old" id="old">
                </span>
                <br> <br>
                <span class="pass_change">
                    New password: 
                    <input type="password" placeholder="Enter new password" name="new" id="new">
                </span>
                <br> <br>
                <span class="pass_change">
                    Confirm new password: 
                    <input type="password" placeholder="Repeat new password" name="confirm" id="confirm">
                </span>
                <br><br>
                <input type="submit" value="Apply">
            </form>
      </div>
    </section>
</div>
</div>

{% endif %}

{% endblock %}