{% extends 'base.html' %}

{% block head %}

<title>Change profile picture </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    .tt {
      float: center;
      width: 500px;
      padding: 10px;
      text-align: center;      
    }

    img {
      float: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
  </style>

{% endblock %}

{% block body %}

{% if session['username'] %}
<div class="subpage">
<div class="lozpro">
  <section id="lozpro">
    <div class='inner'>
       <h2> Upload profile picture: </h2>
       <div class="row uniform">
        <form action="/change_profile_picture" method="POST" enctype=multipart/form-data>
            <input type="file" name="image" id="image">
            <input type="submit" value="Apply">
          </form>
        
      </div>
      <div class="tt">
      <h2>Current profile picture:</h2>
      <img src="{{ image }}" alt="{{ session['username'] }}'s profile picture">
      </div>
    </div>
  </section>
</div>
</div>
{% endif %}

{% endblock %}