{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}

{% if session['username'] %}

<div class="settings">
    <form action="/change_password" method="POST">
        <span class="pass_change">
            Old password: 
            <input type="password" name="old" id="old">
        </span>
        <br> <br>
        <span class="pass_change">
            New password: 
            <input type="password" name="new" id="new">
        </span>
        <br> <br>
        <span class="pass_change">
            Confirm new password: 
            <input type="password" name="confirm" id="confirm">
        </span>
        <br><br>
        <input type="submit" value="Apply">
    </form>
</div>
{% endif %}

{% endblock %}