{% extends 'base.html' %}

{% block head %}
<title> Edit post </title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<base href="/">
{% endblock %}


{% block body %}

{% if session['username'] %}
    <section class="wrapper style1">
      <div class="inner">
        <h3>Edit post</h3>
        <div class="edit_post">
            <form action="/edit_post/{{post.id }}" enctype="multipart/form-data" method="POST">
                <span class="post_header">Header: </span>
                <input type="text" value="{{ post.header }}" name="header" size="40"><br> 
                <span class="hashtags">Hashtags: </span>
                <input type="text" value='#{{ ", #".join(hashtags) }}' name="hashtags" size="40"> <br> 
                Post:
                <br><textarea name="body" id="body" cols="40" rows="10">{{ post.body }}</textarea> <br> 
                {% if post.post_pics %}
                {% for pic in post.post_pics %}
                    <img src="{{ pic }}" alt="Slika posta" width="300" height="">
                {% endfor %}
                {% endif %}

                <input type="radio" id="keep" name="pic_action" value="keep">
                <label for="keep">Keep</label>
                <input type="radio" id="replace" name="pic_action" value="replace" checked>
                <label for="replace">Replace</label>
                <input type="radio" id="append" name="pic_action" value="append">
                <label for="append">Append</label>
                <br> <br>
                <span class="images">Images: 
                    <input type="file" name="pics" id="pics" multiple>
                </span> <br> <br>
                <input type="submit" value="Apply">
            </form>
        </div>
      </div>
    </section>

{% endif %}

{% endblock %}