{% extends 'base.html' %}

{% block head %}
<base href="/">
{% endblock %}


{% block body %}
<div class="subpage">
<section class="wrapper style1">
<div class="inner">
    <h3>Edit comment</h3>
    <ul>
    
    <ol class="post">
    <div class="box"> 
        <b>{{ post.header }}</b>
        , posted on {{ post.date }} 
        <br> Author: 
        <b><a href="/profile/{{ user.username }}">
            {{ user.username }}
        </a></b> 
        <br> Hashtags:
        #{{ ", #".join(hashtags) }}
        <br> Post: <ul>

        <em> {{ post.body | safe }} </em>
        <br> <br>
        {% if post.post_pics %}
        {% for pic in post.post_pics %}
            <img src="{{ pic }}" alt="Slika posta" width="300" height="200">
        {% endfor %}
        {% endif %}
    </div>

        <ul class="comments">
            {% for comment in comments %}
            <li><b><a href="/profile/{{ comment.u.username }}">
                {{ comment.u.username }}
            </a></b>
            <br>
            {% if comment.c.id != selected_comment.id %}
            <em>{{ comment.c.body | safe }}</em>
            {% else %}
            <div class="edit_comment">
                <form action="/save_edited_comment/{{ selected_comment.id }}" method="POST">
                    <textarea name="edit_comment" id="edit_comment" cols="30" rows="3">{{ selected_comment.body }}</textarea>
                    <br><input type="submit" value="Save comment">
                </form>
            </div>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
        <br>
        
            
    </li>
    
</ul>
</div>
</section>
</div>
{% endblock %}
