{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}

{% if session['username'] %}
<hr>
<br>
<div class="new_post">
    <form action="/new_post" method="POST">
        <span class="post_header">Header: </span>
        <input type="text" placeholder="Place head here" name="header" size="40"><br> <br>
        <span class="hashtags">Hashtags: </span>
        <input type="text" placeholder="Separate hashtags with commablank(, )" name="hashtags" size="40"> <br> <br>
        <br><textarea placeholder="What's up?" name="body" id="" cols="40" rows="10"></textarea> <br> <br>
        <input type="submit" value="Post">
    </form>
</div>

<hr>
<!--<div class="recent_posts">
    <ul>
    {% for post in posts %}
        <li class="simple_post">
            <b><a href="/post/{{ post.p.id }}">{{ post.p.header }}</a></b>, posted on {{ post.p.date }}
            <br>
            Author:
                <a href="/profile/{{ post.u.username }}">
                    {{ post.u.username }}
                </a>
            <br> Hashtags:
            #{{ ", #".join(post.htags) }}
            <br> <br>
            <em>{{ post.p.body }}</em>
            <br>

        </li>
         <br>
         <br>
    {% endfor %}
    </ul>
</div>
-->


<div class="recent_posts">
    <ul>
    {% for post in recent_posts %}
        <li class="simple_post">
            <b><a href="/post/{{ post.post_details.id }}">{{ post.post_details.header }}</a></b>, posted on {{ post.post_details.date }}
            <br>
            Author:
                <a href="/profile/{{ post.author.username }}">
                    {{ post.author.username }}
                </a>
            <br> Hashtags:
            #{{ ", #".join(post.hashtags) }}
            <br> <br>
            <em>{{ post.post_details.body }}</em>
            <br>

            <ul class="comments">
                {% for comment in post.comments %}
                <li class="comment">
                    <b> <a href="/profile/{{ comment.u.username }}">{{ comment.u.username }}</a></b>
                    <br> <em>{{ comment.c.body }}</em> <br>
                </li>
                {% endfor %}

            </ul>
            <br>
            <div class="new_comment">
                <form action="/add_comment/{{ post.post_details.id }}" method="POST">
                    <textarea placeholder="Comment this post..." name="comment" id="comment" cols="30" rows="3"></textarea>
                    <br><input type="submit" value="Add comment">
                </form>
            </div>
        </li>
         <br>
         <br>
         <hr>
    {% endfor %}
    </ul>
</div>

{% else %}
<section id="banner">
  <div class="inner">
    <header>
      <h1>Ovo je putovanje</h1>
      <p>Svima nam nedostaje. <br />Pa prošetajmo se lijepim mjestima. </p>
    </header>

  </div>
</section>

{% endif %}



{% endblock %}
