{% extends 'base.html' %}

{% block head %}

<title> Home</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

{% endblock %}



{% block body %}

{% if session['username'] %}
<div id="main">
<section class="wrapper style1">
<div class="inner">
    <h2>Recent posts<hr></h2>
    
    <div class="recent_posts">
    <ul>
    {% for post in recent_posts %}
        <ol class="simple_post">
            <div class="box">
            <b><a href="/post/{{ post.post_details.id }}">{{ post.post_details.header }}</a></b>, posted on {{ post.post_details.date }}
            <br>
            Author:
                <a href="/profile/{{ post.author.username }}">
                    {{ post.author.username }}
                </a>
            <br> Hashtags:
            #{{ ", #".join(post.hashtags) }}  
            <br> Post: <ul>
            <em>{{ post.post_details.body | safe }}</em>
            <br>
            {% if post.post_details.post_pics %}
            {% for pic in post.post_details.post_pics %}
                <img src="{{ pic }}" alt="Slika posta" width="300" height="200">
            {% endfor %}
            {% endif %} 
            </ul> 
        </div>
            <ul class="comments">
                {% for comment in post.comments %}
                <li class="comment">
                    <b> <a href="/profile/{{ comment.u.username }}">{{ comment.u.username }}</a></b>
                    <em>{{ comment.c.body | safe }}</em> <br>
       -         </li>
                {% endfor %}

            </ul>
            <div class="new_comment">
                <form action="/add_comment/{{ post.post_details.id }}" method="POST">
                    <textarea placeholder="Comment this post..." name="comment" id="comment" rows="2"></textarea>
                    <input type="submit" value="Add comment">
                </form>
            </div>
        </li>
         <hr>
    {% endfor %}
    </ul>

    <h2>New post:</h2>
    <hr>
    <div class="new_post">
        <form action="/new_post" enctype="multipart/form-data" method="POST">
            <span class="post_header">Header: </span>
            <input type="text" placeholder="Place head here" name="header" size="40"><br> <br>
            <span class="hashtags">Hashtags: </span>
            <input type="text" placeholder="Separate hashtags with commablank(, )" name="hashtags" size="40"> <br> <br>
            <br><textarea placeholder="What's up?" name="body" id="" value="{{ body }}" cols="40" rows="10"></textarea> <br> <br>
            <span class="images">Images: 
                <input type="file" name="pics" id="pics" multiple>
            </span> <br> <br>
            <input type="submit" value="Post">
        </form>
    </div>
</div>
</div>
</section>
</div>

{% else %}
<section id="banner">
  <div class="inner">
    <header>
      <h1>Ovo je putovanje</h1>
      <p>Svima nam nedostaje. <br />Pa prošetajmo se lijepim mjestima. </p>
    </header>

  </div>
</section>

{% endif %}



{% endblock %}
