{% extends 'base.html' %}

{% block head %}
<title>View post </title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% endblock %}


{% block body %}    
<div id="subpage">
  <section class="wrapper style1">
    <div class="inner">
      <h3>Viewing post</h3><hr>
        <div class="box"> 
            <b>{{ post.header }}</b>, posted on {{ post.date }}
            <ul>
                  
                  Author: 
                      <a href="/profile/{{ user.username }}">
                          {{ user.username }}
                      </a> 
                  <br> 
                  Hashtags:
                    #{{ ", #".join(hashtags) }}
                  <br>
                  <ul><em>{{ post.body }}</em>
                  <br>
                    {% if post.post_pics %}
                    {% for pic in post.post_pics %}
                        <img src="{{ pic }}" alt="Slika posta" width="300" height="200">
                    {% endfor %}
                    {% endif %}

                    {% if session['username'] == user.username %}
                    <!-- <form action="/delete_post/{{ post.id }}" method="POST">
                        <input type="submit"  value="Delete post">
                    </form>
                    <form action="/edit_post/{{ post.id }}">
                        <input type="submit" value="Edit post">
                    </form> -->
                    <br>
                    <a class="button" title="Delete post" href="/delete_post/{{ post.id }}">Delete post</a>
                    <a class="button" title="Edit post" href="/edit_post/{{ post.id }}">Edit post</a>
                    <br>
                    {% endif %}
                    </ul></ul> 
        </div>            
                    
                    <ul class="comments">
                        <h4>Comments</h4>
                            {% for comment in comments %}
                                <li><b><a href="/profile/{{ comment.u.username }}">
                                    {{ comment.u.username }}
                                </a></b>
                                </li>
                                            
                                <em>{{ comment.c.body }}</em><br><br>

                                {% if session['username'] == comment.u.username %}
                                    <!-- <form action="\delete_comment\{{ comment.c.id }}" method="POST">
                                    <input type="submit" value="Delete comment">
                                    </form>

                                    <form action="\edit_comment\{{ comment.c.id }}" method="POST">
                                        <input type="submit" value="Edit comment">
                                    </form> -->
                                    
                                    <a class="button" title="Delete comment" href="\delete_comment\{{ comment.c.id }}">Delete comment</a>
                                    <a class="button" title="Edit comment" href="\edit_comment\{{ comment.c.id }}">Edit comment</a>
                                    <br>
                                {% endif %}
                            {% endfor %}
                    </ul>

                            
                <h4>Add new comment</h4>
                  <div class="new_comment">
                    <form action="/add_comment/{{ post.id }}" method="POST">
                        <textarea placeholder="Comment this post..." name="comment" id="comment" cols="30" rows="3"></textarea>
                        <input type="submit" value="Add comment">
                      </form>
                  </div>
              </li>
          
        </div>                            
    </div>
  </section>
</div>
{% endblock %}