{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}
<ul>
    
    <li class="post">
        <b>{{ post.header }}</b>
        , posted on {{ post.date }} 
        {% if session['username'] == user.username %}
        <br><br>
        <form action="/delete_post/{{ post.id }}" method="POST">
            <input type="submit"  value="Delete post">
        </form>
        <br>
        <form action="/edit_post/{{ post.id }}">
            <input type="submit" value="Edit post">
        </form>
        {% endif %}
        <br> Author: 
        <b><a href="/profile/{{ user.username }}">
            {{ user.username }}
        </a></b> 
        <br> Hashtags:
        #{{ ", #".join(hashtags) }}
        <br> <br>
        {% if post.post_pics %}
        {% for pic in post.post_pics %}
            <img src="{{ pic }}" alt="Slika posta" width="300" height="200">
        {% endfor %}
        {% endif %} 
        <br><br>
        <em> {{ post.body }} </em>
        <br>

        <ul class="comments">
            {% for comment in comments %}
            <li><b><a href="/profile/{{ comment.u.username }}">
                {{ comment.u.username }}
            </a></b>
            <br><em>{{ comment.c.body }}</em>
            </li>
            {% endfor %}
        </ul>
        <br>
        <div class="new_comment">
        <form action="/add_comment/{{ post.id }}" method="POST">
            <textarea placeholder="Comment this post..." name="comment" id="comment" cols="30" rows="3"></textarea>
            <br><input type="submit" value="Add comment">
        </form>
        </div>
            
    </li>
    
</ul>
{% endblock %}