{% extends 'base.html' %}

{% block head %}

  <title>Register </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

{% endblock %}



{% block body %}

{% if not session['username'] %}

<div id="main">
  <section class="wrapper style1">
    <div class="inner">
      <div class="flex flex-2">
        <div class="col col2">
          <h3>Register</h3>
            <form  method="post" action="#">
              <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                  <label for="username"><b>Username</b></label>
                  <br><input type="text" placeholder="Choose your username" name="username" id="username">
                </div>
              <div class="6u$ 12u$(xsmall)">
                <label for="password"><b>Password</b></label>
                <br> <input type="password" placeholder="Choose your password" name="password" id="password">
                <label for="confirm"><b>Confirm password</b></label>
                <br> <input type="password" placeholder="Confirm your password" name="confirm" id="confirm">
                </div>
                <ul class="actions"> <input type="submit" value="Register"> </ul>
              <!-- <br><input type="submit" value="Register"> -->
            </form>
          </div>
         
        </div>
        <div class="col col1 first">
            <div class="image round fit">
              <a><img src="{{ url_for('static', filename='images/register.jpg') }}" alt="" /></a>
            </div>
          </div>
      </section>
</div>

{% endif %}

{% endblock %}