{% extends 'base.html' %}

{% block head %}

<title>Postavke </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    .tab {
      display: grid;
      align-items: stretch;
      color: gray;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 180%;
    }

    a:hover {
    color: lightskyblue;
    text-decoration: underline;
    }
  </style>
  
  

{% endblock %}



{% block body %}

{% if session['username'] %}

<div id="main">
  <section class="wrapper style1">
    <div class="inner">
      <div class="flex flex-2">
        <div class="col align-center">
            <a class="tab" href="/change_password">Change password</a>
            <a class="tab" href="/change_profile_picture">Change profile picture</a>
        </div>
         
      
      <div class="col align-center">
          <div class="image round fit" >
            <a><img src="{{ url_for('static', filename='images/settings.jpg') }}" alt="" /></a>
          </div>
        </div>
        </div>
    </div> 
  </section>
</div>

{% endif %}



{% endblock %}