{% extends 'base.html' %}

{% block head %}

<title>Settings </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    .tab {
      display: grid;
      align-items: stretch;
      background-color: white;
      color: gray;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 180%;
    }

    a:hover {
    color: lightskyblue;
    text-decoration: underline;
    }
  </style>

{% endblock %}



{% block body %}

{% if session['username'] %}

<div id="main">
  <section class="wrapper style1">
    <div class="inner">
      <h2>Change settings<hr></h2>

            <a class="tab" href="/change_password">Change password</a>
            <a class="tab" href="/change_profile_picture">Change profile picture</a>

            <div class="col col1 first">
                {% if image %}
                <div class="image right" >
                    <img src="{{ image }}" alt="{{ username }}'s profile picture">
                    
                </div>
                {% endif %}
          </div>
    </div>
  </section>
</div>

{% endif %}



{% endblock %}