{% extends 'base.html' %}

{% block head %}

<title>Similar users </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

{% endblock %}



{% block body %}

{% if session['username'] %}

<ul class="similar">
    {% for user in similars %}
    <li>
        <a href="\profile\{{ user.similar.username }}">{{ user.similar.username }}</a>
        <br>
        You both used hashtags: #{{ ", #".join(user.htags) }} 
    </li>
    <br>

    {% endfor %}
</ul>

{% endif %}

{% endblock %}